<html>
<body>
<form action="/" method="POST">
<center>
Redirect text: <input type="text" name="shortform" value="{{.Shortcut}}" required=truez><br/>
Url to redirect to: <input type="text" name="url" required=true><br/>
Description: <input type="textarea" name="description"><br/>
<input type="submit">
</form>
</center>
</body>
</html>