
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
<ShortName>{{.ServiceName}}</ShortName>
<Description>Search and retrieve shortened links from {{.ServiceName}}</Description>
<Tags>{{.ServiceName}} shortlink</Tags>
<Url type="text/html"
     template="http://{{.ServiceHost}}:{{.Port}}/{searchTerms}"/>
<Contact />
<OutputEncoding>UTF-8</OutputEncoding>
<InputEncoding>UTF-8</InputEncoding>
</OpenSearchDescription>
